.default-color0.chart-area-symbol {
    -fx-background-color: green green;
}

.default-color1.chart-area-symbol {
    -fx-background-color: blue blue;
}

.default-color0.chart-series-area-line {
    -fx-stroke: #00000000;
}

.default-color1.chart-series-area-line {
    -fx-stroke: #00000000;
}

.default-color3.chart-series-area-line {
    -fx-stroke: red;
    -fx-opacity: 0%;
}

.default-color0.chart-series-area-fill {
    -fx-fill: #00000000;
}

.default-color1.chart-series-area-fill {
    -fx-fill: #00000000;
}

.default-color3.chart-series-area-fill {
    -fx-fill: red;
    -fx-opacity: 5%;
}